@font-face {
    font-family: "muli";
    src: url("../Font/Muli/muli/Muli.ttf");
}

@font-face {
    font-family: "Muli";
    src: url("../Font/Muli/muli/Muli.ttf");
}

@font-face {
    font-family: "Keep Calm";
    src: url("../Font/keep calm/KeepCalm-Medium.ttf");
}

@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1366px !important;
        padding: 40px;
    }
}

@media only screen and (max-width: 400px) {
    .txtzip {
        background-color: black !important;
        padding-left: 0px !important;
    }
    input[type="text"][required]+label[placeholder]  {
        margin-left: -25px !important;
    }
    .btnBackFooter {
        padding: 10px 5px !important;
    }
}

@media only screen and (max-width: 540px) {
    .pBenefits {
        font-weight: 500;
    }
    .conMain {
        height: auto !important;
        padding-bottom: 70px !important;
    }
    .imgCheck {
        width: 15px !important;
    }
    .pMember {
        display: block !important;
    }
    .divBenefits {
        padding-left: 10px;
    }
    .colMiddle {
        display: none !important;
    }
    .pCreate {
        font-size: 1.5rem !important;
    }
    .divCreate {
        margin-top: 20px !important;
    }
    .divStep {
        margin-left: 5% !important;
    }
    .conFooter {
        margin-left: 3% !important;
    }
    .divBenefits, .divPersonalInfo, .divOverview {
        padding-bottom: 70px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .conFooter {
        max-width: 900px !important;
    }
}

@media only screen and (max-width: 1188px) {
    .con {
        padding: 15px !important;
        max-width: 1100px !important;
    }
    .pTitle {
        width: 100% !important;
        font-size: 2rem !important;
    }
    .divBenefits {
        width: 100% !important;
    }
}

@media only screen and (max-width: 964px) {
    .colSteps {
        display: none !important;
    }
}

@media only screen and (max-width: 606px) {
    .colForm {
        padding: 10px !important;
    }
    .divCreate, .divMembership {
        width: 100% !important;
    }
    .divMembership {
        padding: 0px;
    }
    .txtfirstname, .txtmiddle, .txtlast, .bday {
        width: 105% !important;
    }
    .selectdiv select {
        width: 105% !important;
        float: none !important;
    }
    .divStep {
        display: block !important;
    }
    .btnlogin {
        border: 0px !important;
        padding: 0px !important;
        text-align: left !important;
    }
}

@media only screen and (max-width: 600px) {
    .colForm {
        margin-top: 50px !important;
    }
}

@media only screen and (max-height: 850px) {
    .divMembership {
        padding-bottom: 50px !important;
    }
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA;
}

.conNav {
    background-color: white;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    border-bottom: 1px solid lightgray;
    z-index: 99999999999999;
}

.btncontact:hover, .btnpackages:hover {
    font-family: Roboto;
    cursor: pointer;
    transition: 0.2s;
    color: #00C853 !important;
}

.btnlogin {
    border: 2px solid #00C853;
    background-color: transparent;
    border-radius: 25px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    text-align: center;
    transition: 0.2s;
}

.btnlogin:hover {
    color: white !important;
    background-color: #00C853;
}

.pTitle {
    font-family: Catamaran;
    color: #00C853;
    font-size: 2.3rem;
    font-weight: 800;
}

.pStart {
    font-family: Roboto;
    color: #212121;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -15px;
}

.divSteps {
    margin-top: 40px;
}

.pTitleStep {
    font-family: Roboto;
    color: #212121;
    font-size: 1rem;
    font-weight: 700;
}

.pFill {
    font-family: Roboto;
    color: #212121;
    font-size: 0.9rem;
    margin-top: -10px;
}

.pStep {
    font-family: Roboto;
    color: #212121;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.divBoxActive {
    padding: 15px 15px;
    border-radius: 10px;
    transition: all 0.2s;
    background-color: white;
    border-left: 5px solid #00C853;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
}

.divBox {
    padding: 15px 15px;
}

.divBoxTrans {
    background-color: #f5f5f5;
    border: none;
    box-shadow: none;
}

@-webkit-keyframes bounceRight {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@-moz-keyframes bounceRight {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(-15px);
    }
}

@keyframes bounceRight {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -ms-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    60% {
        -ms-transform: translateX(-7px);
        transform: translateX(-7px);
    }
}

/* /right bounce */

/* assign bounce */

.arrow-right {
    /* 
    -webkit-animation: bounceRight 2s infinite;
    animation: bounceRight 2s infinite;
    */
    float: right;
    background-color: transparent !important;
    margin-top: -18px;
    margin-left: 20px;
}

.divCreate, .divMembership, .divOverview, .divPersonalInfo {
    margin: auto;
    position: relative;
    width: 500px;
    animation-duration: 0.3s !important;
}

.pCreate {
    font-family: Catamaran;
    font-size: 2rem;
    color: #212121;
    font-weight: 700;
}

.pPlease {
    font-family: Roboto;
    color: #212121;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: -10px;
}

input[type="text"] {
    font-family: Roboto;
    font-weight: 400;
    color: #212121;
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    resize: none;
    outline: none;
}

input[type="text"][required]:focus {
    border-color: #00C853;
}

input[type="text"][required]:focus+label[placeholder]:before {
    color: #00C853;
}

input[type="text"][required]:focus+label[placeholder]:before, input[type="text"][required]:valid+label[placeholder]:before {
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.8em) scale(0.9, 0.9);
}

input[type="text"][required]:invalid+label[placeholder][alt]:before {
    content: attr(alt);
}

input[type="text"][required]+label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}

input[type="text"][required]+label[placeholder]:before {
    font-family: Roboto;
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(2em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.txtusername {
    font-family: Roboto;
    background: url(../Image/username.png) no-repeat 95.25% 15px white;
    display: inline-block;
    vertical-align: middle;
}

input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
}

input[type="password"][required]:focus {
    border-color: #00C853;
}

input[type="password"][required]:focus+label[placeholder]:before {
    color: #00C853;
}

input[type="password"][required]:focus+label[placeholder]:before, input[type="password"][required]:valid+label[placeholder]:before {
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}

input[type="password"][required]:invalid+label[placeholder][alt]:before {
    content: attr(alt);
}

input[type="password"][required]+label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 5px);
    margin-bottom: calc((3em - 1em) + 2px);
}

input[type="password"][required]+label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.txtpassword {
    background: url(../Image/password.png) no-repeat 95.25% 15px white;
    display: inline-block;
    vertical-align: middle;
}

.lblrememberme {
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;
}

.lblrememberme:hover {
    color: #00C853;
}

.btnBack, .btnBack1, .btnBack2 {
    color: #00C853;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 25px;
    border: 0px;
    border: 1px solid #00C853;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.btnCreate, .btnSubmit, .btnPayment, .btnNext {
    color: white;
    background-color: #00C853;
    padding: 10px 20px;
    border-radius: 25px;
    border: 0px;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.divPersonalInfo, .divAddress {
    animation-duration: 0.3s !important;
}

.image-upload>input {
    display: none;
}

.imgProf {
    margin-right: 40px;
    border-radius: 50%;
    width: 100px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.10);
}

.imgOverview {
    margin-right: 40px;
    border-radius: 50%;
    width: 100px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.10);
}

.pClick {
    font-family: Roboto;
    color: #424242;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
}

.selectdiv {
    position: relative;
    width: 100%;
}

select::-ms-expand {
    display: none;
}

.selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #898989;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    position: absolute;
    pointer-events: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #212121;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

.bday {
    font-family: Roboto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    color: #212121;
    width: 100%;
    margin-top: 10px;
    padding: 10px 25px;
}

.divNext, .pNext {
    font-family: Roboto;
    color: #212121;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    margin-top: 25px;
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.divBack, .divNext1 {
    cursor: pointer;
    transition: all 0.2s;
}

.divNext:hover, .divBack:hover, .divNext1:hover {
    color: #00C853;
}

.pFullName {
    font-family: Roboto;
    color: #212121;
    font-weight: 500;
    font-size: 1.2rem;
}

.pEmail {
    font-family: Roboto;
    color: #898989;
    font-size: 0.9rem;
    margin-top: -15px;
}

.pSide {
    font-family: Roboto;
    color: #898989;
    font-size: 0.9rem;
    margin-left: 10px;
    text-align: right;
}

.pResult {
    font-family: Roboto;
    color: #212121;
    font-size: 0.9rem;
    font-weight: 500;
}

.pVariant {
    color: #00C853;
}

.pPrice {
    font-family: Roboto;
    color: #212121;
    font-size: 0.9rem;
    font-weight: 500;
}

.bgWhite {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0px;
}

.divCarousel {
    height: 180px;
}

.divActive {
    background: #4CAF50;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(76, 175, 80, 0.18);
    -moz-box-shadow: 0px 2px 17px 0px rgba(76, 175, 80, 0.18);
    box-shadow: 0px 2px 17px 0px rgba(76, 175, 80, 0.18);
}

.divNotActive {
    background-color: white;
    box-shadow: none;
}

.divVariant {
    height: 150px;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    margin-top: 0px !important;
    border: 1px solid lightgrey;
    cursor: pointer;
    transition: all 0.2s;
}

.divVariant1 {
    background-color: white;
    height: 150px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    position: relative;
    z-index: -999;
    cursor: pointer;
    transition: all 0.2s;
}

.imgTick {
    position: absolute;
    top: 10px;
    right: 10px;
}

.imgActive {
    position: absolute;
    filter: brightness(0) invert(1);
    top: 35px;
}

.imgPic {
    position: absolute;
    top: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.imgNotActive {
    position: absolute;
    top: 35px;
}

.pVariantBox {
    font-family: Roboto;
    color: #00C853;
    font-weight: 400;
    font-size: 1.3rem;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15px;
}

.pVariantActive {
    color: white !important;
}

.btnSelect {
    font-family: Roboto;
    color: #00C853;
    background-color: white;
    border: 0px;
    border-radius: 25px;
    position: absolute;
    bottom: -15px;
    padding: 7px;
    width: 125px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 222222222222222;
    outline: none !important;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
}

.pBenefits {
    font-family: Roboto;
    color: #212121;
    font-size: 0.9rem;
}

.divBenefits {
    animation-duration: 0.2s !important;
}

.pMember {
    font-family: Catamaran;
    color: #212121;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 5px;
    display: none;
    margin-top: -10px;
}

.conMainFooter {
    background-color: white;
    -webkit-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.18);
    border: 1px solid lightgray;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0px;
}

.btnBackFooter {
    font-family: Roboto;
    color: white;
    background-color: #00C853;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
    margin-top: 15px;
    width: 45%;
    cursor: pointer;
    box-shadow: 0 2px 16px -6px #00C853 !important;
    outline: none;
    margin-right: 20px;
    transition: all 0.2s;
}

.btnNextFooter {
    font-family: Roboto;
    color: white;
    background-color: #00C853;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
    margin-top: 15px;
    width: 45%;
    cursor: pointer;
    box-shadow: 0 2px 16px -6px #00C853 !important;
    outline: none;
    transition: all 0.2s;
}

.txt {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    background-color: #FAFAFA;
    border: 1px solid #EEEEEE;
    box-shadow: 0 2px 16px -6px #F5F5F5 !important;
    padding-left: 15px;
    padding-right: 10px;
    min-height: 60px;
    max-height: 60px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.txtTop {
    font-family: Roboto;
    font-size: 0.8rem;
    color: #9E9E9E;
}

.pResult {
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 500;
    color: #616161;
    margin-top: -15px;
    margin-bottom: 0px;
    padding-right: 5px;
}

.p1 {
    font-family: Roboto;
    color: white;
    background-color: #00C853;
    border-radius: 50%;
    width: max-content;
    padding: 5px;
    width: 35px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.p2 {
    font-family: Roboto;
    color: white;
    background-color: #9E9E9E;
    border-radius: 50%;
    width: max-content;
    padding: 5px;
    width: 35px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.p3 {
    font-family: Roboto;
    color: white;
    background-color: #9E9E9E;
    border-radius: 50%;
    width: max-content;
    padding: 5px;
    width: 35px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.divLine1, .divLine2 {
    height: 1px;
    width: 110%;
    background-color: lightgrey;
    position: absolute;
    top: 16px;
    z-index: -1;
    left: 50%;
}

.owl-next, .owl-prev {
    font-family: Catamaran !important;
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    transition: all 0.2s;
    margin-top: -20px !important;
}

.owl-next:hover, .owl-prev:hover {
    color: #00C853 !important;
    background-color: transparent !important;
}

.owl-prev {
    margin-right: 10px !important;
}

.owl-dots {
    display: none !important;
}